html{
  scroll-behavior: smooth;
}

.img1{
border: solid 5px #ADBBDA;
width: 100px;
height: 100px;
position: absolute;
}
.head{
color: #abcdef;
text-align: center;
font-size: 50px;
Border:solid 1px;width:320px;
margin-left: 30%;
border-radius: 20px;
background-image: linear-gradient(to right, #434343 0%, black 100%);
animation-name: harry1;
animation-duration: 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}
@keyframes harry1 {
        from {
            width: 0;
            filter: opacity(0%);
        }

        to {
            width: 300px;
            filter: opacity(100%);
        }
}
.head2{
  animation-name: harry3;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  }
  @keyframes harry3{
    0%{
      filter: opacity(0%);
    }
    25% {
      filter: opacity(0%);
    }
    50%{
      filter: opacity(0%);
    }
    75%{
      filter: opacity(60%);
    }
    100%{
      filter: opacity(100%);
    }
  }
body {
 background-color: #3D5280;
 color: white;
 font-family: Serif;
}
.nv1{
color: white;
}
.mul{
text-align: center;
color: pink;
}
.container {
background-color: navy;
filter: opacity(50%);
margin:0px ;
}
p {
 font-size: 20;
}
.pro{
color: red;
}
.top_button_size{
  font-size:20px;
}
.tele{
  border: solid 2px;
}
.cont{
  display:flex;
  flex-direction:row;
  border: solid 1px grey;
  background-color: black;
  padding-top: 2px;
  padding-bottom: 2px;
  height:50px ;
  align-items:center;
  justify-content: center;
  font-family: Arial;
}
:root{
  --flex_content-padding: 13px 0px 13px 0px;
}
.one{
   padding: var(--flex_content-padding);
   text-align: center;
    flex-basis: 50%;
    border: solid 4px black;
    background-color: #EDE;
}
    .two{
      padding: var(--flex_content-padding);
    flex-basis: 50%;
   text-align: center;
    border: solid 4px black;
    background-color: #EDE;
}
.three{
  padding: var(--flex_content-padding);
 flex-basis: 50%;
 text-align: center;
    border: solid 4px black;
    background-color: #EDE;
}
.button{
 position: fixed;
 color: white;
 float: right;
 bottom: 8%;
 right: 25px;
 background-color: black;
 padding: 10px;
 opacity: 50%;
 box-shadow: 25;
border: solid 3px white;
border-radius: 20px;
}
h3{
  text-align:center;
  font-weight: bold;
  font-family: cursive;
}
.nv3:hover::after{
  content:"...................[By Shubham Tiwari]";
  color: black;
}
.nv3:hover{
  background-color:white;
  color:black;
}
a{
  color: white;
  text-decoration: none;
}
.head_link{
  color: black;
  font-weight: bold;
}
.about_page{
  font-family: cursive;
  text-align: center;
}
.poem_select:hover{
  content:"...................[By Sidant]";
  color:black;
  background-color:white;
  opacity:80%;
}
.poem_select:hover::after{
  content:"...................[By Sidant]";
  color:black;
}

.poem_alignment{
  font-family:cursive ;
}
.time{
  Font-size:25px;
  display: flex;
  justify-content: center;
  align-content: center;
}
h4{
  text-align: right;
}
.design{
  padding: 0;
  margin: 0;
      height:  100%;
      width: 120px;
      position: fixed;
      top: 0;
      left: 0;
      background: navy;
      box-shadow: 2px 0px 5px black;
}
.nv2_main{
  margin-left:120px;
}
ul li{ 
      margin: 5px;
      padding: 5px;
      margin-top:18px; 
    }
.index_tittle{
  color:#abcdef;
}
 .cont_img{
    display:grid;
    grid-template-rows: repeat(4,500px 10px);
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    align-items: center;
    
  }
  .disp_img{
    border:solid #EDE8F5 5px;
    width:273px;
    height:409px;
    margin 10px;
  }
  .disp_img:hover{
    border:solid 5px orange;
  }
.one2{
   
   padding: var(--flex_content-padding);
   text-align: center;
    flex-basis: 50%;
  border: solid 3px black;
    background-color: #ADBBDA;
}

    .two2{
      padding: var(--flex_content-padding);
    flex-basis: 50%;
   text-align: center;
    border: solid 3px black;
    background-color: #ADBBDA;
}
.main_heading{

  }
  .index_style{
    color:black;
  }
  .link_img{
    font-size:20px;
    font-family: Comic;
  }
  .Bg_img{
    border: solid 8px white;
    background-image: url('Mysecretcrush.jpg');
    height: 400px;
    margin: 0px;
    background-size: cover;
    opacity: 50%;
  }
  .Bg_img_lovetied{
        border: solid 8px white;
    background-image: url('Tiedtogether.jpg');
    height: 400px;
    margin: 0px;
    background-size: cover;
    opacity: 50%;
  }
    .Bg_img_broken{
        border: solid 8px white;
    background-image: url('Brokenhero.jpg');
    height: 400px;
    margin: 0px;
    background-size: cover;
    opacity: 50%;
  }
  
  .MSC_poster{
    width:273px;
    height:409px;
    border: solid 5px white;
    position: absolute;
    top:400px;
    box-shadow: 8px 8px 12px black;
    
  }
  .Bg_edit{
    display: flex;
  align-items: center;
  justify-content: center;
  }
  .head_tittle{
    text-align: center;
    font-size: 40px;
    color:pink;
  }
  .info{
    background-color: #3D52A0;
    border:solid 5px white;
    box-shadow: 8px 8px 12px black; 
   color:#EDE;
  }
  .ch_list{
    background-color: #3D52A0;
    border:solid 5px white;
    box-shadow: 8px 8px 12px black; 
    color:#EDE;
    width:300px;
  }
  .ss{
    width:400px;
    height:600;
    margin-left :20px;
  
    
  }


  